{% extends 'Download/header.html' %}

{% block title %}
Login Page
{% endblock %}
{% block content %}
   <center>
     <div style="width:1px;height:20px"></div>
    <h5>Reset Password</h5>
  <div class="form-group" style="margin-top:40px">
  {% if form %}
  {% if msg %}
   <h6 class="text-danger">{{msg}}</h6>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
  <div class="form-group">
    <input type="email" required class="form-control" name="email" placeholder="Enter Email" style="width:400px">
  </div>
   <br>
  <button type="submit" id="submitbtn" class="btn btn-primary">Send Verification Code</button>

</form>
  {% endif %}

  {% if msg1 %}
   <h6 style="color:green">{{msg1}}</h6>

<br>
  <form action="/Download/ResetpasswordthroughEmail" method="post">
    {% csrf_token %}
  <div class="form-group">
    <input type="number" required class="form-control" name="verify-code" placeholder="Enter Verification Code" style="width:400px">
  </div>
   <br>
  <button type="submit" id="submitbtn" class="btn btn-primary">Verify Your Email</button>

</form>
{% endif %}

{% if msg3 %}
<div style="width:400px;height:330px;border:1px solid lightgray;padding-top:8px">

<h5 style="color:green">Your Email Has Been Verified  <small>&#x2705</small></h5>
<hr>
<br>
{% if msg4 %}
<h5 class="text-danger">{{msg4}}</h5>
{% endif %}
<form action="/Download/change-password" method="post">
  {% csrf_token%}
  <table>
<tr>
<td><label for="New Password">New Password</label></td>
</tr>
<tr>
<td><input type="password" name="password" placeholder="*********" style="width:300px;height:35px"></td>
</tr>
<tr>
  <td><div style="width:1px; height:10px"></div></td>
</tr>
<tr>
<td><label for="Reenter New Password">Reenter New Password</label></td>
</tr>
<tr>
<td><input type="password" name="repassword" placeholder="*********" style="width:300px;height:35px"></td>
</tr>
</table>
<br>
<input type="submit" value="Change Password" class="btn btn-primary">

</form>

</div>
{% endif %}
</div>
</center>

{% endblock %}
